.list-cell{
    -fx-background-color: white;
}
.list-cell:filled:hover{
    -fx-cursor: hand;
    -fx-background-color: #4285f4;
}
.list-cell:filled:hover #nameContact #telContact {
    -fx-fill: white;
}
.list-cell:filled:hover{
    -fx-background-color: #4285f4;
}

.list-cell:filled:hover #iconCaret{
    iconColor: white;
    -fx-icon-color: white;
}


.table-row-cell:empty {
    -fx-background-color: white;
}

.table-row-cell:empty .table-cell {
    -fx-border-width: 0px;
}

