.jfx-button {
    -fx-background-color: #4285f4;
    -fx-text-fill: white;
    -jfx-button-type: RAISED;
}

#buttonBack:pressed {
    -fx-background-color: #1a3561;
    -fx-text-fill: white;
    -jfx-button-type: RAISED;

}

